.game-container {
    position: relative;
    background-color: antiquewhite;
}

.grid-container {
    background-color: cornsilk;
    display: inline-block;
    padding: 5px;
    border-width: 1px;
    border-radius: 10px;
}

.grid-row {
    display: flex;
    /* justify-content: center; */
}

.grid-slot {
    color: cornsilk;
    border-width: 1px;
    border-style: solid;
    border-color: darkgray;
    /* border-radius: 5px; */
    margin: 5px;
    padding: 20px 25px 20px 25px;
}

.tile-container {
    position: absolute;
    padding: 5px;
    border-width: 1px;
    border-radius: 10px;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
}

.tile-slot {
    position: relative;
    border-width: 1px;
    border-style: dashed;
    /* border-color: transparent; */
    margin: 5px;
    padding: 20px 25px 20px 25px;
}

.tile-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -40%);
}

.tile-empty {
    color: cornsilk
}

.tile-value-text {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.4em;
}

.tile-value-2 {
    color:cadetblue;
    background-color: aliceblue;
}

.tile-value-4 {
    color:darkgrey;
    background-color:azure;
}

.tile-value-8 {
    color: gray;
    background-color: bisque;
}

.tile-value-16 {
    color: white;
    background-color:burlywood;
}

.tile-value-32 {
    color: white;
    background-color:darksalmon;
}

.tile-value-64 {
    color: white;
    background-color:darksalmon;
}

.tile-value-128 {
    color: white;
    background-color:indianred;
}

.tile-value-256 {
    color: white;
    background-color:orangered;
}

.tile-value-1024 {
    color: white;
    background-color:cornflowerblue;
}

.tile-value-2048 {
    color: white;
    background-color:lightcoral;
}
