.title-container {
    display: inline-block;
}

.title-header {
    text-align: left;
    font-family: 'Roboto', sans-serif;
}

.title-auther {
    color: lightgray;
    text-shadow: 0px 9px 10px rgba(46, 229, 157, 0.4);
}
